// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
   padding-top: 60px;
   padding-left: 60px;
   color:  brown;
   font-size:  .5em;
}
h5{
  line-height: 2;
  font-size: 1em;
  font-family: serif;
  color: green;
}
