// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
   padding-top: 60px;
   passsing-lef: 60px;
   color:  brown;
   font-size:  1.4em;
}
h5{
  line-height: 4;
  font-size: 3em;
  font-family: serif;
  color: green;
}
